* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

.main {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: #fff;
}

button {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #fff;
    color: red;
    font-size: 18px;
}

.board {
    display: grid;
    place-items: center;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #ccc;
}

.cell {
    display: grid;
    place-items: center;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.menu {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
    height: 20vh;
}

.inactive {
    border: 1px solid grey;
    color: grey !important;
}

.inactive:hover {
    cursor: auto;
    background-color: transparent !important;
}
.cell:hover {
    cursor: pointer;
    background-color: rgba(253, 68, 68, 0.05);
}
